<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Task:</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{this.task.title}}</h6>
      <h5 class="card-note">Note:</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{this.task.note}}</h6>
      <h5 class="card-note">Type:</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{this.task.type}}</h6>
      <h5 class="card-note">Time:</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{this.task.time}}</h6>

  
      <button class="btn btn-danger" (click)="delete()">Task done!</button>
  
      <button class="btn btn-light" [routerLink]="['/tasks']">Back</button>
    </div>
</div>