.to-do-container{
    border: 6px solid #fff;
    border-radius: 10px;
}

.left-column{
    background-color: #fff;
    height: 100vh;
}

.task-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task-list li{
    padding:10px;
    background: #fff;
    font-size: 14px;
    font-weight: 600px;
    margin-bottom: 4px;
    border-radius: 10px;
}

.task-list span{
    width:15px;
    height:15px;
    display: inline-block;
    background-color: rgb(200, 144, 207);
    border-radius: 50%;
    margin: 5px;
}

.new-task{
    text-align: center;
    margin-bottom: 10px;
}

.task-m{
    color:#fff;
    font-weight: bold;
}

.task-list .task-personal{
    background-color: palevioletred;
}

.task-list .task-work{
    background-color: yellow;
}

.task-list .task-social{
    background-color: rgb(200, 144, 207);;
}