<div class="container">
    <!-- <h2>{{title}}</h2>
    <p>{{description}}</p>     -->
    <!-- <button class="btn btn-primary" [routerLink]="['/tasks/add']">Add New Task</button>         -->
    <!-- <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Task</th>
          <th>Note</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of tasks; let index=index;">
        <tr>
         <td>{{index+1}}</td>   
         <td>{{task.title}}</td>
         <td>{{task.note}}</td>
         <td><button class="btn btn-light" (click)="viewTask(task.id, task.title, task.note)"><i class="far fa-eye"></i></button>
            <button class="btn btn-light" (click)="deletetask(task.id)"><i class="far fa-trash-alt"></i></button>
            <button class="btn btn-light" (click)="editTask(task.id, task.title, task.note)"><i class="far fa-edit"></i></button></td>
        </tr>
      </tbody>
    </table> -->
    <div class="row to-do-container">
        <div class="col-md-2 left-column">
            <h2>Today's Tasks</h2>
            <ul class="task-list">
              <li (click)="specifyType('Personal')"><span class="rounded task-personal"></span>Personal</li>
              <li (click)="specifyType('Work')"><span class="rounded task-work"></span>Work</li>
              <li (click)="specifyType('Social')"><span class="rounded task-social"></span>Social</li>
            </ul>
        </div>
        <div class="col-md-10 right-column">
          <h2 class="task-m">Your Task Manager</h2>
          <p style="color:#fff">{{description}}</p> 
          <div class="new-task">
            <button class="btn btn-primary" [routerLink]="['/tasks/add']">Add New Task</button>
          </div>
          <ul class="task-list">
            <li *ngFor="let task of filterTask; let index=index;">
              <div class="row">
                <div class="col-md-9"><span [ngClass]="{ 'rounded task-work': task.type === 'Work',   'rounded task-personal': task.type === 'Personal',   'rounded task-social': task.type === 'Social' }"></span><strong>{{task.title}}</strong></div>
                <div class="col-md-1">{{task.time}}</div>
                <div class="col-md-2">
                  <!-- <div>{{task.time}}</div> -->
                  <button class="btn btn-link" (click)="viewTask(task.id, task.title, task.note)"><i class="far fa-eye"></i></button>
                  <button class="btn btn-link" (click)="deletetask(task.id)"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-link" (click)="editTask(task.id, task.title, task.note)"><i class="far fa-edit"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
